//Themes font weight
$font-weight--normal: 400;
$font-weight--bold: 700;
$font-weight--black: 900;

$font-family--main: 'Rubik', system-ui, sans-serif;
$font-family--secondary: 'Roboto Slab', 'Rubik', sans-serif;
