// =============================================================================
// MEDIA MIXINS
// =============================================================================

@use 'sass:map';
@use '../../tokens/breakpoints' as bp;

@mixin media-up($breakpoint) {
  $value: null;

  @if map.has-key(bp.$breakpoints, $breakpoint) {
    $value: map.get(bp.$breakpoints, $breakpoint);
  } @else {
    $value: $breakpoint;
  }

  @media (min-width: #{$value}) {
    @content;
  }
}
