// =============================================================================
// BREAKPOINT TOKENS
// =============================================================================

@use 'sass:map';

$breakpoints: (
  xs: 320px,
  s: 508px,
  m: 754px,
  xm: 980px,
  l: 1200px,
  xl: 1300px,
  new-xl: 1420px,
  xxl: 1792px,
);
