// =============================================================================
// COLOR TOKENS
// =============================================================================

$color-primary-1: #00eda6;
$color-primary-3: #00be85;
$color-primary-gradient: linear-gradient(270deg, #00eda6, #00eda6 100%);

$color-tertiary-6: rgba(88, 72, 139, 0.2);

$color-text-body: #f7f7f7e0;
$color-text-alt: #f7f7f7;

$color-black: #000;
$color-white: #fff;

$color-progress-filled: #c1b3db;
$color-progress-empty: rgba(0, 10, 18, 0.16);

:root {
  --color-primary-1: #{$color-primary-1};
  --color-primary-3: #{$color-primary-3};
  --color-primary-gradient: #{$color-primary-gradient};

  --color-tertiary-6: #{$color-tertiary-6};

  --color-text-body: #{$color-text-body};
  --color-text-alt: #{$color-text-alt};

  --color-black: #{$color-black};
  --color-white: #{$color-white};
  --color-on-light-back: #{$color-black};

  --color-progress-filled: #{$color-progress-filled};
  --color-progress-empty: #{$color-progress-empty};
}
