// =============================================================================
// DESIGN TOKENS
// =============================================================================

$design-width: 360;
$design-height: 640;

$design-width-desktop: 1024;
$design-height-desktop: 768;

$base-font: 14;
$base-line-height: 1.5;
